<app-menu></app-menu>
<div class="content">
  <div class="contacts">
    <div *ngFor="let contact of contacts; let i = index" class="contactName">
      <div class="contactItem" (click)="clickContact(i)">
        <div class="contactNameHead">
          <div class="contactNameIn" [style.background-color]="contact.color">AH</div>
        </div>
        <div class="contentNameContent">
          <p>{{ contact.name }}</p>
          <p class="contactEmail">{{ contact.email }}</p>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div *ngFor="let contact of contacts; let i = index">
    <div class="contactItemSlider" [@slideInOut]="contact.isClicked ? 'in' : 'out'">

      <div class="slideHeader">
      <h2>Contacts</h2>
      <hr>
      <p>Better with a team</p>
      </div>
      <div class="slideItem">
      <div class="contactNameHead">
        <div class="contactNameIn" [style.background-color]="contact.color">AH</div>
        <h2 class="contentHeader">{{ contact.name }} <br>
          <div class="editContent">
             <div class="edit" (click)="$event.stopPropagation(); openDialog(contact)"> <mat-icon >edit</mat-icon> Edit </div>
             <div class="edit" (click)="removeContact(i)"> <mat-icon>delete</mat-icon> Delete  </div>
          </div>
        </h2>
      </div>
      <h3>Contact Information</h3>
      <p class="contactEmail"> <span class="bBlack">Email</span> <br>{{ contact.email }}</p>
        <p> <span class="bBlack">Phone</span> <br> {{ contact.phone }}</p>
    </div>
    </div>
  </div>
</div>
<div class="addContact">
  <button (click)="openAddDialog()">
    New Contact
    <mat-icon>person_add</mat-icon>
  </button>
</div>
