<div class="content">
  <div class="contacts">
    <div *ngFor="let contact of contacts; let i = index" class="contactName">
      <div class="contactItem" (click)="clickContact(i)">
        <div class="contactNameHead">
          <div class="contactNameIn">AH</div>
          <p>{{ contact.name }}</p>
        </div>
        <p class="contactEmail">{{ contact.email }}</p>
      </div>
      <hr>
    </div>
  </div>
  <div *ngFor="let contact of contacts; let i = index">
    <div class="contactItemSlider" [@slideInOut]="contact.isClicked ? 'in' : 'out'">
      <div class="contactNameHead">
        <div class="contactNameIn">AH</div>
        <p>{{ contact.name }}</p>
      </div>
      <p class="contactEmail">{{ contact.email }}</p>
    </div>
  </div>
</div>
