<app-menu></app-menu>
<div class="summaryHeader">
  Summary <hr> Everything in a nutshell!
</div>
<div class="content">

<div class="summaryContent">
  <div class="summaryTasks">
    <mat-card>
      <p class="taskIn">4</p>
      <p class="taskDes">Tasks in Board</p>
    </mat-card>
    <mat-card>
      <p class="taskIn">1</p>
      <p class="taskDes">Tasks in Progress</p>
    </mat-card>
    <mat-card>
      <p class="taskIn">1</p>
      <p class="taskDes">Awaiting Feedback</p>
    </mat-card>
  </div>
  <div class="summaryTasks">
    <mat-card class="taskunger">
      <p class="taskIn">1</p>
      <p class="taskDes">Awaiting Feedback</p>
    </mat-card>
  </div>
  <div class="summaryTasks">
    <mat-card class="todos">
      <p class="taskDes bg-r-dark"><mat-icon>edit</mat-icon></p>
      <p class="taskIn">1 <br> Todos</p>
    </mat-card>
    <mat-card class="todos">
      <p class="taskDes bg-r-dark"><mat-icon>check</mat-icon></p>
      <p class="taskIn">2 <br> Done</p>
    </mat-card>
  </div>
</div>

</div>
