.summaryHeader{
  position: relative;
  width: 100%;
  font-size: 30px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 30!important;
  color: #000;
}
.h2Haeder{
  font-size: 56px;
  font-weight: bold;
}
hr{
  width: 2px;
  height: 100px;
  margin: 0 50px;
  background-color: #29ABE2;
  border-radius: 5px;
  outline: none;
}
.content{
  width: 100%;
  height: 70%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.summaryContent{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.summaryTasks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
mat-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 200px;
  height: 200px;
  font-size: 25px;
  margin: 25px auto 0;
  text-align: center;
  z-index: 2;
}
mat-card:hover{
  background-color: #2A3647;
  color: #ffffff;
  scale: 1.1;
  cursor: pointer;
}
.taskIn{
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
}
.taskDes{
  font-size: 20px;
}
.taskunger{
  width: 650px;
  display: flex;
  flex-direction: row;
}
.todos{
  width: 325px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bg-r-dark{
  padding: 20px;
  border-radius: 50%;
  background-color: #2A3647;
  color: #ffffff;
}
.urgentIcon{
  background-color: #ef0a22;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px){
  .summaryHeader{
    font-size: 20px;
  }
  .h2Haeder{
    font-size: 40px;
  }
  .summaryHeader hr{
    height: 50px;
  }
  .content{
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  mat-card{
    width: 150px;
    height: 150px;
    font-size: 20px;
  }
  .taskunger{
    width: 490px;
  }
  .todos{
    width: 235px;
  }
}
@media screen and (max-width: 600px){
  p{
    margin: 0;
  }
  .summaryHeader{
    font-size: 15px;
  }
  .h2Haeder{
    font-size: 30px;
  }
  .summaryHeader hr{
    height: 40px;
  }
  .content{
    padding: 30px;
    width: 90%;
  }
  .summaryTasks mat-card{
    font-size: 15px;
    line-height: inherit;
    gap: 0;
  }
  .summaryTasks mat-card p{
    font-size: 15px;
  }
  .taskInP{
    margin-bottom: -10px;
  }
  mat-card{
    width: 100px;
    height: 100px;
    font-size: 15px;
    gap: 0;
  }
  .taskunger{
    width: 350px;
  }
  .todos{
    width: 175px;
  }
  mat-card p{
    font-size: 15px;
  }
  hr{
    height: 50px;
  }
  .summaryTasks taskDes{
    padding: 0;
    margin: 0;
    font-size: 15px;
  }
  .summaryTasks taskIn{
    padding: 0;
    margin: 0;
    font-size: 15px;
  }
  .taskDes{
    padding: 10px;
    font-size: 15px;
    line-height: normal;
  }
  .taskIn{
    padding: 10px;
    font-size: 20px;
    line-height: normal;
  }
}
