<app-menu></app-menu>
<div class="summaryHeader">
  <b class="h2Haeder">Summary</b> <hr> Everything in a nutshell!
</div>
<div class="content">

<div class="summaryContent">
  <div class="summaryTasks" [routerLink]="['/board']">
    <mat-card>
      <p class="taskIn taskInP">{{ taskCounts.total }}</p>
      <p class="taskDes">Tasks in Board</p>
    </mat-card>
    <mat-card>
      <p class="taskIn taskInP">{{ taskCounts.inProgress }}</p>
      <p class="taskDes">Tasks in Progress</p>
    </mat-card>
    <mat-card>
      <p class="taskIn taskInP">{{ taskCounts.awaitingFeedback }}</p>
      <p class="taskDes">Awaiting Feedback</p>
    </mat-card>
  </div>
  <div class="summaryTasks" [routerLink]="['/board']">
    <mat-card class="taskunger">
      <div class="urgentIcon">
        <mat-icon>keyboard_double_arrow_up</mat-icon>
      </div>
      <p class="taskIn">{{ taskCounts.urgent > 0 ? taskCounts.urgent + ' Urgent' : '0' }}</p>
      <hr>
      <p class="taskDes"><b>{{ urgentTask?.due_date | date }}</b>
        <br>
        Task Overdue
      </p>
    </mat-card>
  </div>
  <div class="summaryTasks" [routerLink]="['/board']">
    <mat-card class="todos">
      <p class="taskDes bg-r-dark"><mat-icon>edit</mat-icon></p>
      <p class="taskIn">{{ taskCounts.todo }} <br> Todos</p>
    </mat-card>
    <mat-card class="todos">
      <p class="taskDes bg-r-dark"><mat-icon>check</mat-icon></p>
      <p class="taskIn">{{ taskCounts.done }} <br> Done</p>
    </mat-card>
  </div>
</div>

</div>
