.content{
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.summaryContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.summaryTasks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
mat-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 200px;
  height: 200px;
  font-size: 25px;
  margin: 100px auto 0;
  text-align: center;
  z-index: 2;
}
mat-card:hover{
  background-color: #2A3647;
  color: #ffffff;
  scale: 1.1;
}
.taskIn{
  font-size: 50px;
  font-weight: bold;
}
.taskDes{
  font-size: 20px;
}
.taskunger{
  width: 100%!important;
}
