<app-menu></app-menu>
<div class="summaryHeader">
  <b class="h2Haeder">Summary</b> <hr> Everything in a nutshell!
</div>
<div class="content">

<div class="summaryContent">
  <div class="summaryTasks" [routerLink]="['/board']">
    <mat-card>
      <p class="taskIn">4</p>
      <p class="taskDes">Tasks in Board</p>
    </mat-card>
    <mat-card>
      <p class="taskIn">1</p>
      <p class="taskDes">Tasks in Progress</p>
    </mat-card>
    <mat-card>
      <p class="taskIn">1</p>
      <p class="taskDes">Awaiting Feedback</p>
    </mat-card>
  </div>
  <div class="summaryTasks" [routerLink]="['/board']">
    <mat-card class="taskunger">
      <mat-icon>keyboard_double_arrow_up</mat-icon>
      <p class="taskIn">1</p>
      <hr>
      <p class="taskDes"><b>May 05,2024</b>
        <br>
        Task Overdue
      </p>
    </mat-card>
  </div>
  <div class="summaryTasks" [routerLink]="['/board']">
    <mat-card class="todos">
      <p class="taskDes bg-r-dark"><mat-icon>edit</mat-icon></p>
      <p class="taskIn">1 <br> Todos</p>
    </mat-card>
    <mat-card class="todos">
      <p class="taskDes bg-r-dark"><mat-icon>check</mat-icon></p>
      <p class="taskIn">2 <br> Done</p>
    </mat-card>
  </div>
</div>

</div>
