.dialogHeader{
  margin: 15px;
  border-radius: 5px;
  display: inline-block;
  background-color: #738ae8;
  color: white;
  font-size: 30px;
}
.title{
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}
.content{
  font-size: 20px;
  margin: 10px;
}
mat-dialog-content p {
  margin: 8px 0;
}

mat-dialog-actions {
  justify-content: flex-end;
}
.priority{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.urgent{
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ef0a22;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.middle{
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dcff00;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.low{
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #adc74e;
  color: #ffffff;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
mat-dialog-actions{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.presonBox{
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #738ae8;
  color: white;
}
