.contentDialog{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: space-evenly; */
  align-items: flex-start;
  height: 800px;

}
.dialogHeader{
  margin: 15px;
  border-radius: 5px;
  display: inline-block;
  background-color: #738ae8;
  color: white;
  font-size: 30px;
}
.title{
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}
.content{
  font-size: 20px;
  margin: 10px;
}
mat-dialog-content p {
  margin: 8px 0;
}

mat-dialog-actions {
  justify-content: flex-end;
}
.priority{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.urgent{
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ef0a22;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.medium{
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dcff00;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.low{
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #adc74e;
  color: #ffffff;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
mat-dialog-actions{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.subtasks{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.presonBox{
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #738ae8;
  color: white;
}
.assignTo{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.actionButtons{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete{
  margin: 0;
  padding: 3px;
  border-radius: 5px 0 0 5px;
  border: solid 1px #2A3647;
  cursor: pointer;
}
.delete:hover{
  background-color: #2A3647;
  color: #ffffff;
}
.edit{
  background-color: #2A3647;
  color: #ffffff;
  margin: 0;
  padding: 3px;
  border-radius: 0 5px 5px 0;
  border: solid 1px #2A3647;
  cursor: pointer;
}
.edit:hover{
  background-color: #ffffff;
  color: #2A3647;
}
.addTaskContent {
  display: flex;
  justify-content: space-between;
}

.addTaskContentLeft, .addTaskContentRight {
  flex: 1;
  margin: 10px;
}

.buttonsAdd {
  display: flex;
  gap: 10px;
}

.example-form-field {
  width: 100%;
}

.subtaskUL{
  list-style: none;
  padding: 0;
}

.subtaskLi{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
mat-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
