<div class="contentDialog">
<h2 class="dialogHeader" mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <br>
  <p class="title">{{ data.header }}</p>
  <br>
  <p class="content"> {{ data.content }}</p>
  <br>
  <p><strong>Date:</strong> {{ data.data }}</p>
  <br>
  <div class="priority">
    <p><strong>Priority:</strong></p>
    <div *ngIf="data.priority === 'urgent'" class="urgent">Urgent <mat-icon>keyboard_double_arrow_up</mat-icon></div>
    <div *ngIf="data.priority === 'middle'" class="middle">Middle<mat-icon>keyboard_double_arrow_left</mat-icon></div>
    <div *ngIf="data.priority === 'low'" class="low">Low <mat-icon>keyboard_double_arrow_down</mat-icon></div>
    </div>
  <p><strong>Assign To:</strong> </p>
  <br>
  <div class="presonBox">{{ data.person }}</div>

</mat-dialog-content>
<mat-dialog-actions>
  <mat-icon (click)="onClose()">close</mat-icon>
</mat-dialog-actions>
  <div class="actionButtons">
    <mat-icon>delete</mat-icon>
    <mat-icon class="edit">edit</mat-icon>
  </div>
</div>
