.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .example-container {
    display: none;
  }
  .menuMobile{
    display: block;

  }
}
img{
  margin: 50px 50px;
}
.example-sidenav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  background: #2A3647;
  color: white;
}
.menu-inner{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  gap: 20px;
}
.menu-item{
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.menu-item:hover{
  background-color: #091931;
}
.example-sidenav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menuRight{
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.loginName{
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  color: #091931;
  font-size: 20px;
  border: 2px solid #091931;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
::ng-deep .mat-mdc-menu-content{
  background-color: #2A3647!important;
  color: #ffffff!important;
}
::ng-deep .logout{
  color: #ffffff!important;
}
.header{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #2A3647;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1200px) {
  .menu-item{
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }
  .example-sidenav-content{
    width: 100%;
    position: fixed;
    z-index: 30;
  }
  .menuLeft{
    display: none;
  }
  .logo{
    display: block;
    width: 30px;
  }
  .footer{
    z-index: 30;
  }
}
