<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
  <div class="menu-inner">
    <div [routerLink]="['/summary']" class="menu-item">
    <mat-icon>space_dashboard</mat-icon>
      Summary
    </div>
    <div [routerLink]="['/board']" class="menu-item">
    <mat-icon>dashboard</mat-icon>
      Boards
    </div>
    <div [routerLink]="['/add-task']" class="menu-item">
    <mat-icon>add_task</mat-icon>
      Add Task
    </div>
    <div [routerLink]="['/contacts']" class="menu-item">
    <mat-icon>person_add</mat-icon>
      Contacts
    </div>
  </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    Kanban Project Management Tool
  </div>

</mat-drawer-container>
