<div class="contentDialog">
  <h2 class="dialogHeader" mat-dialog-title>Edit Task</h2>
  <form #taskForm="ngForm">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.title" name="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="data.description" name="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [(ngModel)]="data.due_date" name="due_date" type="date">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select [(ngModel)]="data.priority" name="priority">
          <mat-option value="urgent">Urgent</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="low">Low</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Assign To</mat-label>
        <input matInput [(ngModel)]="data.assigned_to" name="assigned_to">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="onClose()">Cancel</button>
      <button mat-button (click)="onSave()" >Save</button>
    </mat-dialog-actions>
  </form>
</div>

