<div class="content">
  <img class="logo" src="assets/img/join-logo-dunkel-klein.png" alt="logo">

  <mat-card>
    <mat-icon routerLink="/">arrow_back</mat-icon>
    <mat-card-header>Sign Up</mat-card-header>
    <hr>
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="username" name="username" required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="email" name="email" required email>
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="registerForm.controls['email']?.invalid && registerForm.controls['email']?.touched">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="!passwordsMatch()" class="error">Passwords do not match!</div>
      <button class="vButton" mat-button type="submit" [disabled]="!registerForm.form.valid || !passwordsMatch()">Sign Up</button>
    </form>
  </mat-card>
</div>
