<mat-card>
  <mat-icon routerLink="/">arrow_back</mat-icon>
  <mat-card-header>Sign Up</mat-card-header>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name">
    <mat-icon matSuffix>mail</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email">
    <mat-icon matSuffix>mail</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password">
    <mat-icon matSuffix>key</mat-icon>
  </mat-form-field>
  <div class="buttonsBlog">
    <button class="vButton" mat-button>Sign Up</button>
  </div>
</mat-card>
