<app-menu></app-menu>
<div class="content">

<div class="boardHeader">
  <h2>Boards</h2>
  <div class="boardHeaderSearch">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-button>Add Task
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="boardContent">
  <div class="todosContent">
    <h3>Todo</h3>
    <mat-icon>add_box</mat-icon>
  </div>
  <div class="todosContent">
    <h3>In Progress</h3>
    <mat-icon>add_box</mat-icon>
  </div>
  <div class="todosContent">
    <h3>Awaiting Feedback</h3>
    <mat-icon>add_box</mat-icon>
  </div>
  <div class="todosContent">
    <h3>Done</h3>
    <mat-icon>add_box</mat-icon>
  </div>

</div>
</div>
