.content{
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.boardHeader{
  margin-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  z-index: 20;
}
.boardHeaderSearch{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
button{
  background-color: #2A3647;
  color: #ffffff!important;
  height: 57px!important;
}
.boardContent{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 20;
}
.todos{
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.todosContentHeader{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.task{
  width:100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.task:hover{
  border-radius: 5px;
  transform: rotate(5deg);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.taskHeader{
  font-size: 20px;
  display: inline-flex;
  padding: 5px;
  background-color: #738ae8;
  color: #ffffff;
  border-radius: 5px;
}
.taskTitle{
  font-size: 20px;
  font-weight: bolder;
}
.taskContent{
  font-size: 16px;
  color: rgba(42, 54, 71, 0.57);
}
