<app-menu></app-menu>
<div class="content">

<div class="boardHeader">
  <h2>Boards</h2>
  <div class="boardHeaderSearch">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-button>Add Task
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="boardContent">
  <div class="todos">

  <div class="todosContentHeader">
    <h3>Todo</h3>
    <mat-icon>add_box</mat-icon>
  </div>

    <mat-card class="task">
      <div class="taskHeader">Heallo</div>
      <div class="taskTitle">Hello</div>
      <div class="taskContent">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      </div>
    </mat-card>
  </div>

  <div class="todos">
  <div class="todosContentHeader">
    <h3>In Progress</h3>
    <mat-icon>add_box</mat-icon>
  </div>

  </div>
  <div class="todos">

  <div class="todosContentHeader">
    <h3>Awaiting Feedback</h3>
    <mat-icon>add_box</mat-icon>
  </div>

  </div>
  <div class="todos">

  <div class="todosContentHeader">
    <h3>Done</h3>
    <mat-icon>add_box</mat-icon>
  </div>
  </div>

</div>
</div>
