<app-menu></app-menu>
<div class="content">
  <div class="boardHeader">
    <h2>Boards</h2>
    <div class="boardHeaderSearch">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button mat-button >Add Task
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div cdkDropListGroup class="boardContent">
    <!-- Todo Section -->
    <div class="todos" cdkDropList [cdkDropListData]="tasks.todo" (cdkDropListDropped)="drop($event)">
      <div class="todosContentHeader">
        <h3>Todo</h3>
        <mat-icon>add_box</mat-icon>
      </div>
      <ng-container *ngFor="let task of tasks.todo">
        <mat-card class="task" cdkDrag (click)="openTaskDialog(task)">
          <div class="taskHeader">{{ task.header }}</div>
          <div class="taskTitle">{{ task.title }}</div>
          <div class="taskContent">{{ task.content }}</div>
          <div class="taskDone">
            <div class="done">
              <div class="process"></div>
            </div>
            <div class="date">{{ task.date }}</div>
          </div>
          <div class="taskFooter">
            <div class="persons">{{ task.person }}</div>
            <div class="prioritize">
              <mat-icon>keyboard_double_arrow_up</mat-icon>
            </div>
          </div>
        </mat-card>
        <!-- Placeholder für Todo Section -->
        <mat-card class="taskPlaceholder" *cdkDragPlaceholder></mat-card>
      </ng-container>
    </div>

    <!-- In Progress Section -->
    <div class="todos" cdkDropList [cdkDropListData]="tasks.inProgress" (cdkDropListDropped)="drop($event)">
      <div class="todosContentHeader">
        <h3>In Progress</h3>
        <mat-icon>add_box</mat-icon>
      </div>
      <ng-container *ngFor="let task of tasks.inProgress">
        <mat-card class="task" cdkDrag (click)="openTaskDialog(task)">
          <div class="taskHeader">{{ task.header }}</div>
          <div class="taskTitle">{{ task.title }}</div>
          <div class="taskContent">{{ task.content }}</div>
          <div class="taskDone">
            <div class="done">
              <div class="process"></div>
            </div>
            <div class="date">{{ task.date }}</div>
          </div>
          <div class="taskFooter">
            <div class="persons">{{ task.person }}</div>
            <div class="prioritize">
              <mat-icon>keyboard_double_arrow_up</mat-icon>
            </div>
          </div>
        </mat-card>
        <!-- Placeholder für In Progress Section -->
        <mat-card class="taskPlaceholder" *cdkDragPlaceholder></mat-card>
      </ng-container>
    </div>

    <!-- Awaiting Feedback Section -->
    <div class="todos" cdkDropList [cdkDropListData]="tasks.awaitingFeedback" (cdkDropListDropped)="drop($event)">
      <div class="todosContentHeader">
        <h3>Awaiting Feedback</h3>
        <mat-icon>add_box</mat-icon>
      </div>
      <ng-container *ngFor="let task of tasks.awaitingFeedback">
        <mat-card class="task" cdkDrag (click)="openTaskDialog(task)">
          <div class="taskHeader">{{ task.header }}</div>
          <div class="taskTitle">{{ task.title }}</div>
          <div class="taskContent">{{ task.content }}</div>
          <div class="taskDone">
            <div class="done">
              <div class="process"></div>
            </div>
            <div class="date">{{ task.date }}</div>
          </div>
          <div class="taskFooter">
            <div class="persons">{{ task.person }}</div>
            <div class="prioritize">
              <mat-icon>keyboard_double_arrow_up</mat-icon>
            </div>
          </div>
        </mat-card>
        <!-- Placeholder für Awaiting Feedback Section -->
        <mat-card class="taskPlaceholder" *cdkDragPlaceholder></mat-card>
      </ng-container>
    </div>

    <!-- Done Section -->
    <div class="todos" cdkDropList [cdkDropListData]="tasks.done" (cdkDropListDropped)="drop($event)">
      <div class="todosContentHeader">
        <h3>Done</h3>
        <mat-icon>add_box</mat-icon>
      </div>
      <ng-container *ngFor="let task of tasks.done">
        <mat-card class="task" cdkDrag (click)="openTaskDialog(task)">
          <div class="taskHeader">{{ task.header }}</div>
          <div class="taskTitle">{{ task.title }}</div>
          <div class="taskContent">{{ task.content }}</div>
          <div class="taskDone">
            <div class="done">
              <div class="process"></div>
            </div>
            <div class="date">{{ task.date }}</div>
          </div>
          <div class="taskFooter">
            <div class="persons">{{ task.person }}</div>
            <div class="prioritize">
              <mat-icon>keyboard_double_arrow_up</mat-icon>
            </div>
          </div>
        </mat-card>
        <!-- Placeholder für Done Section -->
        <mat-card class="taskPlaceholder" *cdkDragPlaceholder></mat-card>
      </ng-container>
    </div>
  </div>
</div>
