.content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px){
  .content{
    flex-direction: column;
  }
}
.left{
  width: 50%;
  height: 100%;
  background-color: #2A3647;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px){
  .left{
    width: 100%;
  }
}
.left p{
  font-size: 30px;
  font-weight: bolder;
}
.buttons{
  display: flex;
  gap: 20px;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.close {
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}
.clear{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2A3647;
  color: #2A3647;
}
.clear:hover{
  border: rgb(41, 171, 226) 1px solid;
  color: rgb(41, 171, 226)!important;
}
.create{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2A3647;
  color: #ffffff;
}
.create:hover{
  background-color: rgb(41, 171, 226);
  color: white!important;
}
