<div class="content">
  <div class="left">
    <img src="assets/img/logo.png">
    <p>Edit Contact</p>
  </div>
  <div class="right">
    <form [formGroup]="contactForm">
      <div class="inputs">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </p>
      </div>
    </form>
    <div class="buttons">
      <button class="clear" mat-raised-button (click)="saveContact()">Save</button>
      <button class="create" mat-raised-button (click)="closeDialog()">Cancel</button>
    </div>
  </div>
</div>
<button class="close" mat-button (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</button>
