<div class="content">
  <div class="left">
    <img src="assets/img/logo.png">
    <p>Edit Contact</p>
  </div>
  <div class="right">
    <div class="inputs">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>{{ contactData.name }}</mat-label>
        <input matInput placeholder="{{ contactData.name }}">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>{{ contactData.email }}</mat-label>
        <input matInput placeholder="{{ contactData.email }}">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>{{ contactData.phone }}</mat-label>
        <input matInput placeholder="{{ contactData.phone }}">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </p>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="warn">Delete</button>
    </div>
  </div>

</div>
<button class="close" mat-mini-fab>
  <mat-icon>close</mat-icon>
</button>
